.about-us {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 2%; /* Padding na kontejneru (20px na 100vw/vh) */

  .header { 
    font-family: 'Lato', sans-serif;
    font-size: 2.4vw; /* 24px na 100vw */
    font-weight: 600;
    line-height: 3.6vh; /* 36px na 100vh */
    letter-spacing: 0.84px;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 5%;
  }

  
  .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* padding: 2%; */ /* Padding za tekst (20px na 100vw/vh) */
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw; /* 16px na 100vw */
    font-weight: 400;
    line-height: 2.4vh; /* 24px na 100vh */
    text-align: left;
    color: #9B9B9B;
  }

  .image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%; /* Padding za razdvajanje od rubova (20px na 100vw/vh) */

    .top-image,
    .bottom-images {
      display: flex;
      justify-content: center;
      align-items: center; /* Centriraj slike po visini i širini */
    }

    .top-image {
      width: 90%; /* Smanji veličinu slike na 50% širine roditeljskog kontejnera */
      height: 50%;
      max-height: calc(80vh - 4%); /* Postavi maksimalnu visinu slike na visinu roditeljskog kontejnera smanjenu za padding */
      margin-bottom: 2%; /* Razmak između gornje i donjih slika (20px na 100vh) */
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .bottom-images {
      width: 90%;
      max-width: 54.8vw; /* 548px na 100vw */
      display: flex;
      justify-content: space-between;
      img {
        width: 48%; /* Prilagodi prema potrebi za postavljanje rasporeda (48% na 100vw) */
        height: auto;
        max-height: calc(100vh - 4%); /* Postavi maksimalnu visinu slike na visinu roditeljskog kontejnera smanjenu za padding */
        object-fit: cover;
      }
    }
  }
}
